.App {
  text-align: center;
}

.App__navigation--list{
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
}

.App__navigation--list >*{
  /*display: inline-block;*/

  padding: 20px 60px;
  color: grey;
  background: white;
  text-decoration: none;
  border: 1px solid black;

}
.App__navigation--list .active{
  background: grey;
  color: white;

}